body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    gap: 15px;
    text-align: center;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #cbc6c6;
    border-radius: 5px;
    font-weight: 600;
    color: red;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"]::before {
    content: 'OFF';
}
input[type="checkbox"]:checked::before {
    content: 'ON';
    color: green;
}